name: Terraform Plan Digital Ocean Cloud

on: 
  push
  

jobs:
  terraform:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2.1.0

     # Static analysis of Terraform templates to spot potential security issues
     # Marketplace: https://github.com/marketplace/actions/terraform-security-scan   
      # - name: "Setup - Security Scan"
      #   uses: triat/terraform-security-scan@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Terraform Init"
        run: terraform init -input=false
        working-directory: ./setup/digitalOcean

      - name: "Terraform Plan"
        id: plan
        run: terraform plan -input=false -var="do_token=${{ secrets.TF_API_TOKEN }}"
        working-directory: ./setup/digitalOcean






      # - name: 'Terraform Init'
      #   uses: hashicorp/terraform-github-actions@master
      #   with:
      #     tf_actions_version: 0.12.18
      #     tf_actions_subcommand: 'init'
      #     tf_actions_working_dir: '.'
      #     tf_actions_comment: true
      
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: 'Terraform Plan'
      #   uses: hashicorp/terraform-github-actions@master
      #   with:
      #     tf_actions_version: 0.12.18
      #     tf_actions_subcommand: 'plan'
      #     args: '-var="do_token=${{ secrets.TF_API_TOKEN }}"'          
      # - name: 'Terraform Apply'
      #   uses: hashicorp/terraform-github-actions@master
      #   with:
      #     tf_actions_version: 0.12.18
      #     tf_actions_subcommand: 'apply'
      #     args: '-var="do_token=${{ secrets.TF_API_TOKEN }}"'          
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}